audio(src='/audio/David Guetta - Without You ft. Usher.mp3')

.audioStatus

.audioControls
  ul.audioControlMenu
    li.audioControlItem.play Play
    li.audioControlItem.pause Pause
    li.audioControlItem.stop Stop

script(src='/javascripts/fabricjs/all.min.js')
script(src='/javascripts/app.js')
