!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Audio | HTML5 Tests
    meta(name='description', content='Testing HTML Audio by Miles Matthias')
    meta(name='author', content='Miles Matthias')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/style.css', rel='stylesheet')

  body!= body
